:root {
    --background-color: #f4f4f4;
    --navbar-bg-color: #1155cc;
    --navbar-text-color: white;
    --tooltip-bg-color: #333;
    --sidebar-bg-color: #343a40;
    --sidebar-hover-bg-color: #1155cc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --sidebar-box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    background-image: url('https://raw.githubusercontent.com/Ciumy0605/Zucchetti/refs/heads/main/icone/background_image.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg-color);
    padding: 10px 20px;
    color: var(--navbar-text-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    position: relative;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s;
}


.username {
    font-size: 18px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--navbar-text-color);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
    position: relative;
    padding: 10px;
}

.nav-link img.nav-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    transition: transform 0.3s;
}

.nav-link:hover img.nav-icon {
    transform: translateY(-3px);
}

.nav-link:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}

.tooltip {
    position: absolute;
    bottom: -25px;
    left: 25%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--tooltip-bg-color);
    color: var(--navbar-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    white-space: nowrap;
}

.navbar-toggle {
    display: none;
    color: var(--navbar-text-color);
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.navbar-toggle.active {
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--navbar-bg-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        animation: slideDown 0.3s ease-in-out;
    }

    .navbar-right.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    .nav-link {
        margin: 10px 0;
    }

    .nav-link span {
        display: inline;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.nav-link .nav-text {
    display: none; /* Hide text by default */
    margin-left: 8px;
    color: var(--navbar-text-color);
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--navbar-bg-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        animation: slideDown 0.3s ease-in-out;
    }

    .navbar-right.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    .nav-link {
        margin: 10px 0;
    }

    .nav-link .nav-text {
        display: inline; /* Show text on mobile */
    }

    .nav-link span.tooltip {
        display: none; /* Hide tooltip on mobile */
    }
}

/* Stile per la barra di navigazione fluttuante a sinistra */
.sidebar {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    background-color: var(--navbar-bg-color);
    box-shadow: 0 0 15px var(--sidebar-box-shadow-color);
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 10px 0;
}
.sidebar ul li a {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.sidebar ul li a:hover {
    background-color: var(--sidebar-hover-bg-color);
    transform: translateX(5px);
}
@media (max-width: 768px) {
    .sidebar {
        width: auto;
        left: 10px;
    }
    .sidebar ul li {
        margin: 10px 0;
    }
    .sidebar ul li a {
        padding: 8px;
    }
    .content {
        margin-left: 180px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: auto;
        left: 5px;
    }
    .sidebar ul li {
        margin: 5px 0;
    }
    .sidebar ul li a {
        padding: 5px;
        font-size: 12px;
    }
    .content {
        margin-left: 120px;
    }
}


.sidebar ul li {
    margin: 10px 0;
    text-align: center; 
}
.sidebar ul li a {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.sidebar ul li a img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s;
}
.sidebar ul li a:hover img {
    transform: translateX(5px);
}
@media (max-width: 768px) {
    .sidebar {
        width: 50px;
        left: 10px;
    }
    .sidebar ul li a img {
        width: 35px;
        height: 35px;
    }
    .content {
        margin-left: 70px;
    }
}
@media (max-width: 480px) {
    .sidebar {
        width: 40px;
        left: 5px;
    }
    .sidebar ul li a img {
        width: 30px;
        height: 30px;
    }
    .content {
        margin-left: 50px;
    }
}



/* pagina  */


.content {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px; /* Add margin to avoid overlap with footer */
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.assets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.asset-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.asset-card img {
    width: 100%;
    height: auto;
}

.asset-card h3 {
    margin: 20px 0 10px;
}

.asset-card p {
    padding: 0 20px;
    margin-bottom: 20px;
}

.asset-card button {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.asset-card button:hover {
    background-color: var(--sidebar-hover-bg-color);
}

.asset-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.testimonials {
    text-align: center;
    margin: 40px 0;
}

.testimonials h2 {
    margin-bottom: 20px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial-card span {
    font-weight: bold;
    color: var(--navbar-bg-color);
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* footer */

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}