:root {
    --background-color: #f0f6f9;
    --navbar-bg-color: #1155cc;
    --navbar-text-color: #f0f6f9;
    --tooltip-bg-color: #333;
    --sidebar-bg-color: #343a40;
    --sidebar-hover-bg-color: #1155cc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --sidebar-box-shadow-color: rgba(0, 0, 0, 0.2);
    --sidebar: white;
    --sidebar-right: #f6f7f8;
    --text-color: #333;
    --hover-bg-color: #0056b3;
    --delete-bg-color: #dc3545;
    --recent-search-bg-color: #e0e0e0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--navbar-text-color);
    background-image: url('https://raw.githubusercontent.com/Ciumy0605/Zucchetti/refs/heads/main/icone/background_image.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.logo img {
    height: 50px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    background-color: var(--navbar-bg-color); 
    border-radius: 10px; 
    padding: 10px 20px;
}

.nav-links ul li {
    background-color: transparent; 
    color: white; 
    border-radius: 5px; 
    padding: 10px 15px; 
    transition: background-color 0.3s, transform 0.3s; 
    cursor: pointer; 
}

.nav-links ul li:hover {
    background-color: var(--hover-bg-color); 
    transform: scale(1.05); 
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    transition: opacity 0.3s; 
}

.username {
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
}

/* Stile per il menu a burger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.3s;
}
a {
    text-decoration: none;
    color: var(--navbar-text-color);
}

.logout-icon {
    width: 24px; 
    height: 24px; 
    margin-left: 10px; 
    cursor: pointer; 
    transition: transform 0.3s; 
}

.logout-icon:hover {
    transform: scale(1.1); 
}
/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none; 
        position: absolute;
        top: 70px; 
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column; 
        align-items: center;
        box-shadow: 0 2px 5px var(--box-shadow-color);
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .nav-links.active {
        display: flex; 
        opacity: 1;
        transform: translateY(0);
        animation: slideInBlock 0.5s forwards;
        z-index: 100;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px; 
    }

    .nav-links ul li {
        margin-bottom: 10px;
        margin-right: 0;
        opacity: 0;
        transform: translateY(-20px);
        animation: slideIn 0.5s forwards;
    }

    .nav-links ul li:nth-child(1) {
        animation-delay: 0.1s;
    }

    .nav-links ul li:nth-child(2) {
        animation-delay: 0.2s;
    }

    .nav-links ul li:nth-child(3) {
        animation-delay: 0.3s;
    }

    .nav-links ul li:nth-child(4) {
        animation-delay: 0.4s;
    }

    .nav-links ul li:nth-child(5) {
        animation-delay: 0.5s;
    }

    .burger {
        display: flex; 
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBlock {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logout-icon {
    width: 24px; 
    height: 24px; 
    margin-left: 10px; 
    cursor: pointer; 
    transition: transform 0.3s; 
}

.logout-icon:hover {
    transform: scale(1.1); 
}

.logout-mobile {
    display: none; /* Nascondi la voce Logout di default */
}

/* Nascondi l'icona di logout su mobile */
@media (max-width: 768px) {
    .logout-icon {
        display: none; /* Nascondi l'icona su mobile */
    }

    .logout-mobile {
        display: block; /* Mostra la voce Logout nel menu a burger */
    }
}

/* Mostra la voce Logout su desktop */
@media (min-width: 769px) {
    .logout-mobile {
        display: none; /* Nascondi la voce Logout su desktop */
    }
}

/* Stile per la barra di navigazione fluttuante a sinistra */
.sidebar2 {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    background-color: var(--sidebar);
    box-shadow: 0 0 15px var(--sidebar-box-shadow-color);
    padding: 5px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.sidebar2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar2 ul li {
    margin: 10px 0;
}
.sidebar2 ul li a {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.sidebar2 ul li a:hover {
    transform: translateX(5px);
}
@media (max-width: 768px) {
    .sidebar2 {
        width: auto;
        left: 10px;
    }
    .sidebar2 ul li {
        margin: 10px 0;
    }
    .sidebar2 ul li a {
        padding: 8px;
    }
    .content {
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .sidebar2 {
        width: auto;
        left: 5px;
    }
    .sidebar2 ul li {
        margin: 5px 0;
    }
    .sidebar2 ul li a {
        padding: 5px;
        font-size: 12px;
    }
    .content {
        margin-left: auto;
    }
}

.sidebar2 ul li {
    margin: 5px 0;
    text-align: center; 
}
.sidebar2 ul li a {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.sidebar2 ul li a img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s;
}
.sidebar2 ul li a:hover img {
    transform: translateX(5px);
}
@media (max-width: 768px) {
    .sidebar2 {
        width: 50px;
        left: 10px;
    }
    .sidebar2 ul li a img {
        width: 35px;
        height: 35px;
    }
    .content {
        margin-left: auto;
    }
}
@media (max-width: 480px) {
    .sidebar2 {
        width: 40px;
        left: 5px;
    }
    .sidebar2 ul li a img {
        width: 30px;
        height: 30px;
    }
    .content {
        margin-left: auto;
    }
} 

.tooltip {
    position: absolute;
    left: 50px;
    top: 70%;
    transform: translateY(-50%);
    background-color: var(--sidebar);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar2 ul li a:hover .tooltip {
    opacity: 1;
    visibility: visible;
}



.sidebar {
    position: fixed;
    top: 101px;
    bottom: 93px;
    right: 0;
    width: 300px;
    background: var(--sidebar-right);
    box-shadow: -1px 0 3px rgba(0,0,0,0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
}
.sidebar-content {
    flex-grow: 1;
    /* overflow-y: auto; */
}
.booking-section {
    flex-grow: 1;
    padding-right: 15px; 
    overflow-y: auto;
}
.recent-searches-section {
    flex-grow: 1;
    padding-right: 15px; 
    overflow-y: auto;
}
.booking-box {
    margin-top: 5px;
    margin-left: 5px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}
.booking-box:hover {
    transform: scale(1.02);
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.buttons button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.modify {
    background: var(--navbar-bg-color);
    color: var(--navbar-text-color);
}
.delete {
    background: var(--delete-bg-color);
    color: var(--navbar-text-color);
}
.recent-searches {
    list-style: none;
    padding: 0;
}
.recent-searches li {
    background: var(--recent-search-bg-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
#toggleSidebar {
    position: fixed;
    top: 50%;
    right: 0;
    padding: 10px;
    background: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    border: none;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    transition: background 0.3s, right 0.3s ease-in-out;
    display: none;
}
#toggleSidebar:hover {
    background: var(--hover-bg-color);
}
@media (max-width: 768px) {
    .sidebar {
        right: -340px;
    }
    .sidebar.open {
        right: 0;
    }
    #toggleSidebar {
        display: block;
    }
}

/* pagina  */

/* footer */

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}







/* PAGINA ASSETS */
.container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date-picker {
    margin-bottom: 20px;
}

.planimetria {
    position: relative;
    width: 100%;
    height: 60vh; /* Use viewport height for better responsiveness */
    background-image: url('office-layout-1.png'); /* Immagine locale */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.asset {
    position: absolute;
    width: 3%; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.asset img {
    width: 100%;
    height: auto;
}

.asset:hover {
    transform: scale(1.2);
}

.tooltip2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none;
}

.asset:hover .tooltip2 {
    display: block;
}
.booking-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.booking-form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    padding: 10px 20px;
    background-color: #1155cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0056b3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

@media (max-width: 768px) {
    .planimetria {
        height: 50vh; /* Adjust height for smaller screens */
    }

    .asset {
        width: 5%; /* Adjust size for smaller screens */
    }
}

@media (max-width: 480px) {
    .planimetria {
        height: 40vh; /* Adjust height for smaller screens */
    }

    .asset {
        width: 7%; /* Adjust size for smaller screens */
    }
}